.rdt .inner-table {
	width: 100%;
	border-collapse: separate;
}
.rdt .table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
/* TODO: Apply sorting icons */
/* .rdt thead .sorting:after {
	content: '\e9c2';
	margin-top: -10px;
	color: #999;
}
.dataTable thead .sorting:before {
	content: '\e9c1';
	margin-top: -2px;
	color: #999;
} */

.rdt th {
	background-color: lightslategray;
	padding: 7px;
	position: relative;
	border: 1px solid #e5e5e5;
	text-align: left;
	font-weight: normal;
	display: inline-block;
}

.rdt td {
	border: 1px solid #d8c4c4;
	color: #212121;
	vertical-align: middle;
	padding: 4px 7px;
}

.rdt .caption {
	padding: 15px 5px;
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
}
